.cheackBox {
  width: 22px;
  height: 22px;
}
.tableWrapper {
  padding: 30px;
  padding-bottom: 50px;
  background-color: var(--white-color);
  border-radius: 12px;
}
.tableHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;
}
.addProduct {
  height: 42px;
  background-color: var(--blue-color);
  color: var(--white-color);
  border: none !important;
  margin-left: 8px;
}
.relaod {
  height: 42px;
  min-width: 42px;
}
.rowSelected {
  background-color: red;
}

.rowSelected {
  position: relative;
  background-color: transparent !important;
}

.rowSelected td:first-child {
  position: relative;
}

.rowSelected td:first-child::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: var(--deep-blue-color);
}
