.paginationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 55px;
}

.paginationShow {
  color: var(--gray2-color);
  font-size: 18px;
  font-weight: 300;
}
.paginationShow span {
  color: var(--text-dark-color);
}

.paginationControll {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: transparent !important;
  border: none;
}
.page {
  min-width: 30px;
  height: 30px;
  padding: 0;
  color: var(--gray3-color);
}
.pageActive {
  background-color: var(--blue-color);
  color: var(--white-color);
}
